@charset utf-8;


/*commoninfo.css*/
html, body {
    background-color:      black;
    height:                100%;
    width:                100%;
    margin:                0;
    padding:               0;
}


body {
    font-family:           Oxygen,Arial,Helvetica,sans-serif;
    font-size:             20px;
}


#banner {
  background:              #FF0000;
  border:                  1px solid #f0b500;
  -moz-border-radius:      5px;
  -ms-border-radius:       5px;
  -o-border-radius:        5px;
  -webkit-border-radius:   5px;
  border-radius:           5px;
  -moz-box-shadow:         0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow:           0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:      0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow:              0 1px 3px rgba(0, 0, 0, 0.25);
  height:                  50px;
  left:                    0;
  margin-right:            -382px;
  padding-right:           10px;
  position:                fixed;
  right:                   73%;
  top:                     170px;
  z-index:                 10000;
}


.sidebar {
    background-color:      #FFE207;
    color:                 #000;
    display:               block;
    float:                 left;
    height:                10%;
    width:                 30%;
}


.header {
    background-color:      #FFF;
    color:                 #FFF;
    display:               inline;
    float:                 right;
    padding-left:          10px;
    padding-right:         10px;
    text-align:            center;
    width:                 100%;
}


.newsletter {
    background-color:      #FFF;
    color:                 #FFF;
    display:               block;
    float:                 right;
    height:                10%;
    width:                 30%;
}


.nav {
    color:                 black;
    display:               inline;
    font-size:             15px;
    text-align:            center;
}


.nav a {
    color:                 black;
    line-height:           1.2;
    padding-left:          1.3em;
    padding-right:         1.3em;
}


.article1 a, .article2 a, .article3 a {
    color:                 #000;
}


.footer {
    background-color:      #FFF;
    color:                 black;
    float:                 left;
    font-size:             13px;
    height:                40px;
    left:                  0;
    margin:                2px;
    padding-top:           1em;
    width:                 100%;
}


.article1 {
    background-color:      #FFF8097FF;
    color:                 black;
    font-size:             20px;
    font-weight:           normal;
    height:                40%;
    margin:                3px;
    width:                 100%;
}


.article2 {
    background-color:      black;
    color:                 black;
    font-size:             10px;
    font-weight:           normal;
    height:                40%;
    left:                  0;
    margin:                3px;
    position:              relative;
    width:                 30%;
}


.article3 {
    background-color:      #FFF8097FF;
    color:                 black;
    font-size:             10px;
    font-weight:           normal;
    height:                40%;
    margin:                3px;
    position:              relative;
    right:                 0;
    width:                 70%;
}


.publicity {
    color:                 black;
    font-weight:           normal;
    margin-left:           0;
    text-align:            center;
}


.logo {
    background-attachment: fixed;
    color:                 black;
}

.listasmenu {
    fontcolor:             #000;
    display:               list;
}


#p1 {
    color:                 orange;
    font-weight:           bold;
    padding:               15px;
}

#p2 {
    color:                 black;
    font-size:             15px;
    font-weight:           bold;
    padding:               2px;
}


/* ------------------------------------------------------------------------ */


@media screen and (max-width:790px) {

    .nav a {
        display: none;
    }

    .article1 {
        height:            20%;
        margin:            3px;
        width:             80%;
    }

    .article2 {
        display:           none;
    }

    .article3 {
        display:           none;
    }

}
